* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  background: #a7a4a4;
}
.content {
  margin: 0 auto;
  /* width: 1060px; */
  /* height: 875px; */
}
.vl {
  width: 2px;
  height: 875px;
  border-left: 5px solid #e8eced;
  position: absolute;
  top: 0;
  left: 515px;
}
.white {
  margin: 0 auto;
  margin-top: -120px;
  padding: 140px 100px 100px 100px;
  width: 1060px;
  /* height: 875px; */
  background: #fff;
}
.white h6 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.19em;
  text-transform: uppercase;

  color: #b4b4b4;
  /* padding-top: 360px; */
  /* padding-left: 124px; */
}
.white h1 {
  font-family: "Futura PT", sans-serif;
  font-weight: 600;
  font-size: 78px;
  line-height: 100px;
  text-transform: uppercase;

  color: #2a2a2a;

  /* padding-left: 124px; */
  padding-top: 30px;
}
.white h3 {
  font-family: "Georgia", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;

  color: #8f8f8f;
  /* padding-left: 124px; */
  padding-top: 10px;
}
.white p {
  width: 824px;
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  margin-top: 50px;
  /* margin-left: 124px; */
  color: #000000;
}
.black {
  width: 876px;
  position: relative;
  /* height: 183px; */
  /* margin-left: 185px; */
  /* margin-top: -875px; */
  margin-left: auto;
  background: #181818;
  box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
}
.black label {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.19em;
  border: none;
  color: #767676;
  padding-left: 68px;
  padding-top: 45px;
}
.black input {
  font-family: "Playfair Display", sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  border-bottom: 1px solid #fff;
  color: #fefefe;
  padding-left: 68px;
}
.yellow {
  /* margin-left: 248px; */
  position: relative;
  margin-left: auto;
  width: 812px;
  height: 73px;
  background: #fbc02d;
  box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
}
.icons {
  display: flex;

  justify-content: space-around;
  padding-top: 23px;
}
